table {
    border-collapse: collapse;
    width: 100%;
}

h1 {
    color: firebrick; !important;
    text-align: center;
}

h3 {
    color: firebrick;
    text-align: center;
}

/*label {*/
    /*background-color: white;*/
    /*border-style: solid;*/
    /*border-color: firebrick;*/
    /*border-width: thin;*/
    /*padding: 5px;*/
    /*width:100px*/
/*}*/

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 5px 30px 5px 30px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th {
    background-color: firebrick;
    color: white;
}

a {
    color: firebrick;
    vertical-align: bottom;
}

a:link {
    color: firebrick;
    text-decoration: none;
}

a:visited {
    color: firebrick;
    text-decoration: none;
}

a:hover {
    color: firebrick;
    text-decoration: underline;
}

a:active {
    color: firebrick;
    text-decoration: underline;
}

h1 a {
    color: firebrick;
}

.bk-root {
    width: 600px; !important;
}

body {
    margin: 10px;
}