{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELNICE</title>

    <link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/gumbi.css' %}" />
</head>
<body>
    {% include 'navbar.html' %}
    <table>
        <tr>
            <th>Simbol</th>
            <th>Datum</th>
            <th>Trenutna vrednost</th>
        </tr>
        {% for delnica in delnice %}
        <tr>
        <td><h5> <a href="/delnice/{{ delnica.simbol }}">{{ delnica.simbol }}</a></h5></td>
        <td>{{ delnica.date }}</td>
        <td>{{ delnica.closeValue }} €</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>