<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/style.css' %}" />

    <meta charset="UTF-8">
    <title>{{ delnica.simbol }}</title>

    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/gumbi.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/style.css' %}"/>


</head>
<body>

{% include "navbar.html" %}

    <div><h1 style="text-align: center">{{ delnica.simbol }}</h1></div>
    <h3 style="text-align: center">Trenutna vrednost: {{ delnica.closeValue }} €</h3>
    <div class="graf">
        {{ div1 | safe}}
        {{ scr1 | safe}}
    </div>
    <div class="cont">
        <div class="container">
        <br>
        <br>
          <button type="button" class="btn btn-sample" data-toggle="collapse" data-target="#demo">Prikaži podatke</button>
        <br>
        <br>
          <div id="demo" class="collapse">
            <table style="width: auto">
                <tr>
                    <th>Datum</th>
                    <th>Vrednost</th>
                </tr>
                {% for d in zgodovina %}
                <tr>
                    <td>{{  d.date }}</td>
                    <td>{{ d.closeValue }} €</td>
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
    </div>
</body>
</html>