<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Exchange</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body style="background: url('http://www.texturex.com/albums/Wood-Textures/dark%20wood%20texture%20plank%20floor%20wooded%20panel%20free%20stock%20photo.jpg')">
{#('http://fbcwinn.com/hp_wordpress/wp-content/uploads/2016/06/y9u8ugez.jpg') ">    barva: #141414 #}
    {% include 'navbar.html' %}
    <h1 style="color: #141414; text-align: center; font-size: 500%;"><b> Stock Exchange App </b></h1>

</body>
</html>