{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ delnica.simbol}}</title>

    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'StockExchange/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'StockExchange/css/gumbi.css' %}">


</head>
<body>
{% include "navbar.html" %}
    <div><h1>{{ delnica.simbol }}</h1></div>
        <div class="graf">
            {{ div1 | safe}}
            {{ scr1 | safe}}
        </div>
    <div class="cont">
        <div class="container">
            <br>
            <div><span style="float: left;"><b>Trenutna vrednost delnice: </b></span>&nbsp<label style="background-color: white; border-style: solid; border-color: firebrick; border-width: thin; padding: 5px; width:100px">{{ delnica.closeValue }} €</label></div>
            <br>
            <div><span style="float: left;"><b>Povprečna vrednost delnice ob nakupu: </b></span>&nbsp<label style="background-color: white; border-style: solid; border-color: firebrick; border-width: thin; padding: 5px; width:100px">{{ povp }} €</label></div>
            <br>
            <div><span style="float: left;"><b>Skupaj plačano za delnice: </b></span>&nbsp<label style="background-color: white; border-style: solid; border-color: firebrick; border-width: thin; padding: 5px; width:100px">{{ skupno }} €</label></div>
            <br>
            <div><span style="float: left;"><b>Trenutna vrednost kupljenih delnic: </b></span>&nbsp<label style="background-color: white; border-style: solid; border-color: firebrick; border-width: thin; padding: 5px; width:100px">{{ trVr }} €</label></div>
        </div>
    </div>
</body>
</html>