{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/style.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOJI NAKUPI</title>
</head>
<body>
    {% include "navbar.html" %}

    <table>
        <tr>
            <th>Simbol</th>
            <th>Število delnic v lasti</th>
        </tr>
        {% for simbol, vrednost in nakupi %}
        <tr>
        <td><h5> <a href="/nakupi/{{ simbol }}">{{ simbol }}</a></h5></td>
        <td>{{ vrednost }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>