{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/style.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'StockExchange/css/gumbi.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOV NAKUP</title>
</head>
<body>
{% include "navbar.html" %}

    <h1> Nov Nakup</h1>
    <form method="post" action="">
        {% csrf_token %}
        {%  for f in form %}
            <div>{{ f.label_tag }} {{ f }}</div>
        {% endfor %}

    <input class="btn btn-sample" type="submit" value="Shrani!"/>
    </form>


</body>
</html>